/* ----- Theme ----- */
:root {
    --background-colour: #F0EBD8;
    --text-colour: #0D1321;
    --highlight-colour: #3E5C76;
    --highlight-colour2: #748CAB;
}

::selection {
    background-color: var(--highlight-colour);
    color: var(--background-colour);
}

/* ----- Element Selectors, adjusting page stylings after reset.css is applied ----- */
html {
    font-size: 63%;
}

body {
    font-family: 'Montserrat','SF Pro Text','SF Pro Icons','Helvetica Neue','Helvetica','Arial', sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--text-colour);
    background-image: url(../images/clouds.jpg);
    padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.65rem;
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    font-style: italic;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1.5rem;
}


a {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}


/* ----- Element Selectors ----- */
button {
    color: var(--background-colour);
}


input {
    border-radius: 2px;
    outline-color: var(--highlight-colour2);
    border-color: var(--highlight-colour);
}

/* ----- Class Selectors ----- */
.historyButton {
    padding: 9px;
    margin-top: 0 auto;
    width: 250px;
    background-color: var(--highlight-colour);
    border-radius: 10px;
    border-color: var(--background-colour);
}

.sbmtBtn {
    width:100px;
    background-color: var(--highlight-colour);
}

.forecastContainer,
.currentDay{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px;
    font-weight: bolder;
    border-radius: 20px;
}

.low {
    background-color: #d4f2bc;
}

.moderate{
    background-color: #f9f5c3;
}

.high{
    background-color: #fde1bf;
}

.very-high {
    background-color: #f2b9c0;
}

.extreme {
    background-color: #e0dbf9;
}

/* ----- ID Selectors ----- */
#main-search {
    justify-content: space-around;
}

#current-weather {
    padding: 20px;
    margin: 10px;
    background-color: var(--background-colour);
    opacity: 10%;
}

#uvi {
    padding: 5px;
    border-radius: 5px;
}